.container-fluid{
	margin: 20px;
}
.tr{
	padding: 7px;
	border-bottom: dodgerblue solid 1px;
}
.td{
	
	border-collapse: "collapse";
	padding: 7px;
	margin: 4px;
}
.table{
	margin: auto;
	padding: 10px;
	border: solid 1px #e3e3e3;
	border-radius: 20px;
}